/* --------------------- Global --------------------- */

/*
COULEURS :;
Bleu : #3196DF
Gris Clair : #F8F8F8
*/

@font-face {
	font-family: 'Nexa Rust Script';
	src: url('../fonts/NexaRustScriptL.otf');
}

body {
	font-family: Arial;
}

h1 {
	font-family: 'Nexa Rust Script', Arial;
}

.fond-bleu {
	background-color: #3196DF;
}

.fond-blanc {
	background-color: #fff;
}

.fond-bleu h1 {
	color: #fff;
}

.fond-blanc h1 {
	color: #3196DF;
}

/* --------------------- Nav --------------------- */


/* --------------------- Header --------------------- */ 


/* --------------------- La Maison --------------------- */


/* --------------------- Les Alentours --------------------- */


/* --------------------- Nous Contacter --------------------- */


/* --------------------- Footer --------------------- */