/* --------------------- Global --------------------- */

/*
COULEURS :;
Bleu : #3196DF
Gris Clair : #F8F8F8
*/

@font-face {
	font-family: 'Nexa Rust Script';
	src: url('../fonts/NexaRustScriptL.otf');
}

body {
	font-family: Arial;
}

h1 {
	font-family: 'Nexa Rust Script', Arial;
	text-align: center;
}

.fond-bleu {
	background-color: #3196DF;
}

.fond-blanc {
	background-color: #fff;
}

.fond-bleu h1 {
	color: #fff;
}

.fond-bleu h1:before {
	content:  '';
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url('../img/vague_blanc.png') no-repeat;
	background-size: 100%;
	position: relative;
	top: 5px;
	right: 20px;
}

.fond-blanc h1:before {
	content:  '';
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url('../img/vague_bleu.png') no-repeat;
	background-size: 100%;
	position: relative;
	top: 5px;
	right: 20px;
}

.fond-blanc h1 {
	color: #3196DF;
}

/* --------------------- Nav --------------------- */


/* --------------------- Header --------------------- */ 


/* --------------------- La Maison --------------------- */

#categorie-maison div .row{
	background-color: #F8F8F8;
	margin: 2%;
}

/* --------------------- Les Alentours --------------------- */


/* --------------------- Nous Contacter --------------------- */


/* --------------------- Footer --------------------- */
footer {
	background-color: #3196DF;
}