/* --------------------- Global --------------------- */

/*
COULEURS :;
Bleu : #3196DF
Gris Clair : #F8F8F8
*/

@font-face {
	font-family: 'Nexa Rust Script';
	src: url('../fonts/NexaRustScriptL.otf');
}

body {
	font-family: Arial;
}

h1 {
	font-family: 'Nexa Rust Script', Arial;
	text-align: center;
	margin-bottom: 30px;
}

.fond-bleu {
	background-color: #3196DF;
}

.fond-blanc {
	background-color: #fff;
}

.fond-bleu h1 {
	color: #fff;
}

.fond-bleu h1:before {
	content:  '';
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url('../img/vague_blanc.png') no-repeat;
	background-size: 100%;
	position: relative;
	top: 5px;
	right: 20px;
}

.fond-blanc h1:before {
	content:  '';
	display: inline-block;
	width: 38px;
	height: 38px;
	background: url('../img/vague_bleu.png') no-repeat;
	background-size: 100%;
	position: relative;
	top: 5px;
	right: 20px;
}

.fond-blanc h1 {
	color: #3196DF;
}

section {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* --------------------- Nav --------------------- */

.navbar {
	background-color: #3196DF;
}

.navbar-collapse .navbar-nav li a{
	color: #fff;
	font-size: 17px;
}

.navbar-collapse .navbar-nav li a:hover {
	color: #F8F8F8;
}

.navbar-collapse .navbar-nav .active a, .navbar-collapse .navbar-nav .active a:focus {
	color: #3196DF;
}

.fa-calendar-plus-o {
	color: #fff;
}

/* --------------------- Header --------------------- */ 


/* --------------------- La Maison --------------------- */

#categorie-maison div .row {
	background-color: #F8F8F8;
	margin: 2%;
}

/* --------------------- Les Alentours --------------------- */

figure {
	position: relative;
	float: left;
	overflow: hidden;
    margin: 1.5%;
	max-height: 360px;
	width: 30%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    display: block;
}

@media screen and (max-width: 80em) {
    
    figure {
        width: 45%;
        margin: 2.5%;
    }
    
}

@media screen and (max-width: 50em) {
    
    figure {
        width: 100%;
        margin: 10px 0%;
    }
}

figure img {
	position: relative;
	display: block;
    min-height: 100%
	min-height: 100%;
	opacity: 0.8;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
    font-size: 1.5em;
}

figure h2 span {
	font-weight: 800;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-steve {
	z-index: auto;
	background: #000;
}

figure.effect-steve:before,
figure.effect-steve h2:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-steve:before {
	box-shadow: 0 3px 30px rgba(0,0,0,0.8);
	opacity: 0;
}

figure.effect-steve figcaption {
	z-index: 1;
}

figure.effect-steve img {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
}

figure.effect-steve h2,
figure.effect-steve p {
	background: #fff;
	color: #2d434e;
}

figure.effect-steve h2 {
	position: relative;
	margin-top: 2em;
	padding: 0.25em;
}

figure.effect-steve h2:before {
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve p {
	margin-top: 1em;
	padding: 0.5em;
	font-weight: 800;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

figure.effect-steve:hover:before {
	opacity: 1;
}

figure.effect-steve:hover img {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
}

figure.effect-steve:hover h2:before {
	opacity: 0;
}

figure.effect-steve:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}




/* --------------------- Nous Contacter --------------------- */

.iframe-google-map {
	border:0;
	width: 100%;
	height: 300px;
	margin-bottom: -20px;
}

h3 {
	font-size: 24px;
}

form {
	text-align: center;
	margin-bottom: 20px;
}

.mail {
	text-align: right;
}

.form-group {
	margin: 15px 0px 25px 0px;
}

i {
	color: #3196DF;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

/* --------------------- Footer --------------------- */
footer {
	background-color: #3196DF;
	height: 50px;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	margin-top: 15px;
	color: #fff;
	margin-right: 50px;
}

